<div class="topcontainer">

    <img class="topcloud" src="assets/images/cloud.png" alt="cloud image">
    <h1>I'm Joshua.</h1>
    <h2><a class="noLink" href="https://github.com/JoshParada">a <span class="underline">web</span> developer.</a></h2>
    <img class="bottomcloud" src="assets/images/cloud.png" alt="cloud image">
    <img src="assets/images/mountain.png" alt="mountain image">
</div>
<div class="middle-container">
    <div class="profile">
        <img class="profileImage" src="assets/images/MyPost.png" alt="headshot">
        <h2>Hello.</h2>
        <p class="intro">My name is Joshua Parada, or Josh for short. I was born and raised in Los Angeles,
            California
            for first 13 years of my life. My family and I then moved to Houston, Texas, which is where I've lived
            since.
            I have a child that has four legs and looks like a cow. His name is Kobe as in Kobe Bryant or Kobe Beef.
            He is
            a pitbull/labrador mix and is the sweetest boy a dad could ask for. Continue reading below to learn more
            about
            me!</p>
    </div>
    <hr>
    <div class="skills">

        <h2>My Hobbies</h2>
        <div class="skill-row">
            <img class="skill1image" src="assets/images/chess.png" alt="chess knight image">
            <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            <h3>Sports</h3>
            <p>Whether it is physical or mental, I will try my hand at any sport. Sports in which I enjoy playing
                include
                but are not limited to soccer, basketball, football, volleyball, rock climbing, calisthenics,
                skateboarding,
                and chess among many more. Although some may not consider chess as a sport it is one of my favorite
                pass-times.</p>
        </div>
        <div class="skill-row">
            <img class="skill2image" src="assets/images/game-control.png" alt="game controller image">
            <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            <h3>Video Games</h3>
            <p>Along with sports, I also enjoy spending my free time playing video games. I enoy playing games in
                all
                categories including first person shooters, sports, racing, moba, and puzzles. </p>
        </div>
    </div>
    <hr>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Feel free to contact me regarding any idea!</h3>
        <p class="contact-message">I'm interesting in what people are saying around town. Don't be shy and keep me
            updated.</p>
        <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
    </div>
</div>



