  body {
    margin: 0;
    text-align: center;
    font-family: 'Arvo', serif;
  }

  @keyframes lightning {
    0%   {}
    49%  {color:#66bfbf;}
    50%  {color:black;}
    53%  {color:yellow;}
    56%  {color:#66bfbf;}
    100% {}
  }
  
  h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50 auto 0 auto;
    font-family: 'Share Tech Mono', monospace;
    animation-name: lightning;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
  }
  
  h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
  }
  hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  p{
    line-height: 2;
  }
  a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #eaf6f6;
  }
  .noLink:hover{
    color: black
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  .intro{
    width: 50%;
    margin: auto;
  }
  .contact-message{
    width: 40%;
    margin: 40px auto 60px;
  }
  .profileImage {
    width: 250px;
  }
  
  .skill1image {
    width: 25%;
    float: left;
  }
  
  .skill2image {
    width: 25%;
    float: right;
  }
  
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
  
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .topcontainer {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
  }
  
  .middle-container {
      margin: 100px 0;
  }
  
  .bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
  }

  @keyframes topcloud {
    0%   {left:80%; top:0px;}
    50%  {left:10%; top:0px;}
    100% {left:80%; top:0px;}
  }

  @keyframes bottomcloud {
    0%   {left:10%; top:50%;}
    50%  {left:80%; top:50%;}
    100% {left:10%; top:50%;}
  }
  
  .bottomcloud {
    position: absolute;
    animation-name: bottomcloud;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .topcloud {
    position: absolute;
    animation-name: topcloud;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  li {
    display: inline;
  }
  header{
    background-color: #e4f9f5;
    padding: 1px;
  }