<div class="projectsheader"><h1>My Projects</h1>
  <p>I've had the opportunity to create fun and creative projects with the technologies I've learned along my web development journey. Here are just a few of my projects but feel free to vist my GitHub page to see more.</p>
  </div>
<div class="cardgrid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/images/cookbook.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Personal Dashboard</h5>
              <p class="card-text">A dashboard specialized for new cooks or seasoned cooks alike. The user is able to search for new recipes for foods or beverages. The user is able to save recipes in a Favorite Recipes list. The user is also able to search the nutrional facts for any unknown ingredient found through these recipes. The user can also save ingredients to a Shopping Cart list.</p>
              <a href="https://github.com/JoshParada/dashboard-starter" class="btn btn-primary" target="_blank">Check it out!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/rocketslogo.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Da Best Rockets Fanpage</h5>
              <p class="card-text">This is not your average sports' fan page, this is a basketball fan page! But this is not your average basketball fan page, this a Houston Rockets' fan page! But this is not your average Houston Rockets' fan page, this is Da Best Rockets' fan page!! This is where Da Best Rockets' fans go to stay update with Da Best NBA team. The user can stay up to date with the latest Rockets news, roster, and scores.</p>
              <a href="https://joshparada.github.io/" class="btn btn-primary" target="_blank">Check it out!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/giphy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Giphy Search</h5>
              <p class="card-text">A fun and interactive website that takes the user's input to search for a GIF and displays a relevant GIF towards the top of the page. This website uses the Giphy API to retrieve the GIF's url and title information.</p>
              <a href="https://github.com/JoshParada/Front-End-API" class="btn btn-primary" target="_blank">Check it out!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/pets.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pet Guesser</h5>
              <p class="card-text">A console-based Pet Guesser. Similar to the 20 Questions game, the user thinks of a common house pet and the bot asks the user a series of yes or no questions to narrow down the possibilities, ultimately ending up at a guess. If the bot guesses incorrectly, you've successfully beaten the bot.</p>
              <a href="https://github.com/JoshParada/build-a-bot/tree/JoshBranch" class="btn btn-primary" target="_blank">Check it out!</a>
            </div>
          </div>
        </div>
      </div>
</div>