<h1>Josh Parada</h1>
<p>Cypress, TX · 832-928-3245 · paradajosh@yahoo.com · <a
        href="https://www.linkedin.com/in/joshua-parada-4a972a179">LinkedIn</a> ·
    <a href="https://github.com/JoshParada">GitHub</a>
</p>
<hr>
<div class="container">
    <h2>Summary</h2>
<p>Recent graduate with over 6 years of experience in a fast-paced Fortune 500 company. Skilled in Information
    Technology, Customer Service, Teamwork, and Leadership. Detail-oriented and deadline-driven professional with a
    Bachelor's degree focused in Computer Science from University of Houston-Downtown.</p>
<h2>Skills</h2>
<ul>
    <li>Programming: <span style="float:right;">Java, Javascript, TypeScript, HTML, CSS, MySQL </span></li>
    <li>Tools: <span style="float:right;">Bootstrap, Angular 8, Node.js, Git</span></li>
    <li>Language: <span style="float:right;">Spanish (speaking, reading, and writing)</span></li>
</ul>
<h2>Education</h2>
<p class="bold">University of Houston-Downtown, Houston, TX</p>
<p>
    Bachelor of Science in Computer Science <span style="float:right;">August 2021</span><br>
    GPA: 3.2<br>
    Relevant Coursework: Software Engineering, Data Structures, Web Development, Database/Operating Systems</p>
<h2>Relevent Projects</h2>
<p class="bold">Talent Path, Houston, TX</p>
<p>Lead Developer</p>
<ul>
    <li> Developed and designed a dynamic cookbook webpage. The user is able to search, save, and delete new recipes.
    </li>
    <li> Used a combination of HTML, CSS, Java Script, 4 API's, chart.js.
    </li>
</ul>

<h2>Experience</h2>
<p class="bold">
    CSAT Solutions, Houston, TX <span style="float:right;">August 2021 - Present</span>
</p>
<p>Apple Laptop Repair Technician</p>
<ul>
    <li> Conducts diagnosis of problems according to a customer complaint.</li>
    <li>
        Repairs laptop or desktop units according to requirements, using hand or power tools and measuring devices</li>
    <li> Installs and configures new equipment, including operating software or peripheral equipment as required</li>
    <li>Reads and researches specifications, such as blueprints, charts, or schematics, to determine machine settings or
        adjustments</li>

</ul>

<p class="bold">Group 1 Automotive, Houston, TX<span style="float:right;"> May 2013 – January 2019</span></p>
<p>Accounts Payable Team Lead</p>

<ul>
    <li>Earned trust of management to track, transfer, divide, and allocate approximately $500,000 between accounts and
        controls throughout their 35 nationwide dealerships.</li>
    <li>Consistently earned Employee of the Month by writing an average of 8,000 On-Demand Checks, monthly, for Tax Title &
        License refunds, Referrals, Part Returns, Towing Services, and Body Shop services.</li>
    <li>Awarded responsibility of training all new employees in all positions and filled in where help was needed in due to
        strong leadership and attention to detail.</li>
</ul>
</div>